Makefile.save
Makefile.ship
NOTES
README
fnv032
fnv064
fnv132
fnv164
fnv1a32
fnv1a64
fnv32.o
fnv64.o
hash_32a.o
hash_32.o
hash_64a.o
hash_64.o
have_ulong64
have_ulong64.o
libfnv.a
ll_tmp
ll_tmp2
longlong.h
no64bit_fnv064
no64bit_fnv164
no64bit_fnv1a64
no64bit_fnv64.c
no64bit_fnv64.o
no64bit_hash_64a.c
no64bit_hash_64a.o
no64bit_hash_64.c
no64bit_hash_64.o
no64bit_test_fnv.c
no64bit_test_fnv.o
test_fnv.o
vector.c
